body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  z-index: 1;
  background-color: rgba(84, 108, 110, 0.568);
  background-size: cover;
  background-size: 100%;
  background-attachment: fixed; }

head {
  position: relative; }

header {
  background-color: rgba(92, 44, 136, 0.897);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  z-index: 2; }

h2 {
  background-image: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
  font-family: "Oswald";
  font-size: 150%;
  color: white;
  text-align: center;
  line-height: 15px; }

a {
  font-family: "Open Sans";
  text-decoration: none;
  color: white;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .5s; }

a:hover,
a:focus {
  background-size: 80% 2px; }

.headerBanner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 20%;
  height: auto;
  /* object-fit: cover; */
  position: relative; }

nav {
  width: 80%;
  height: 10%;
  position: relative; }

.navPaginas {
  width: 40%;
  height: 10%;
  list-style: none;
  position: absolute;
  top: 0;
  margin-top: 0%;
  margin-right: 18%;
  padding: 0%; }
  .navPaginas li {
    display: inline-block;
    margin: 2%; }

.gridMainPadre {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  align-items: center;
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px; }

h1 {
  background-image: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
  font-family: "Oswald";
  font-size: 120%;
  color: white;
  text-align: center;
  line-height: 15px;
  position: relative; }

.flexGaleria {
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin: 1%; }

.flexNoticias {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  height: 35%;
  background-color: rgba(84, 108, 110, 0.568);
  margin: 1%; }

.textNoticias {
  font-family: "Roboto";
  color: #b4b220;
  font-size: 120%;
  color: white;
  text-align: start;
  line-height: 15px;
  padding: 0;
  margin: 1%; }

.flexPaypal {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(84, 108, 110, 0.568);
  margin: 1%; }

.fotoTocando {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.flexDivAdicional {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 1%; }

.videoYoutube {
  object-fit: fill;
  width: 100%;
  height: 100%; }

html {
  scroll-behavior: smooth; }

/* --------------------- redes ------------------*/
.sectionIndex {
  height: 5%;
  background-color: rgba(92, 44, 136, 0.897);
  position: relative;
  bottom: 0px; }

.sectionPaginas {
  list-style: none;
  width: 15%;
  margin: auto;
  padding: 0.1%; }

.sectionPaginas li {
  display: inline-block;
  margin: 1%; }

/* --------- CONTACTO ----------- */
.mainContacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2%;
  color: white; }

.textoContacto {
  font-family: "Roboto";
  font-size: 120%;
  color: white;
  text-align: start;
  line-height: 15px; }

h3 {
  background: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
  font-size: 150%;
  color: white;
  text-align: center;
  line-height: 15px;
  padding: 0.5%;
  font-family: "Oswald";
  text-shadow: 2px 2px 4px #000000; }

span {
  font-weight: bold;
  text-decoration: underline 2px blueviolet;
  font-size: 105%; }

.formularioContacto {
  font-family: "Roboto";
  background-image: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0)); }

/* ------------------ MERCH ---------------------*/
.fieldsetMerch {
  background-image: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
  font-size: 120%;
  color: white;
  text-align: start;
  line-height: 15px;
  font-family: "Roboto";
  margin: 2%; }

h4 {
  background: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
  font-size: 120%;
  color: white;
  text-align: center;
  line-height: 15px;
  padding: 0.5%;
  font-family: "Oswald";
  text-shadow: 2px 2px 4px #000000; }

.gridMerch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

/*--------------------------------- INFORMACION -----------------------------*/
.mainInfo {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  gap: 150px; }

.imgInfo {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100%;
  height: 75%;
  margin-left: 0 auto;
  margin-top: 0.5%;
  object-fit: contain; }

.textoInfo {
  grid-column-start: 2;
  grid-row-start: 1;
  background-image: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
  font-family: "Roboto";
  font-size: 120%;
  color: white;
  text-align: justify;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10%;
  margin-right: 15%; }

.textoInfo:hover {
  cursor: default; }

.fotoTocandoInfo {
  margin-left: 15%;
  width: 600px;
  height: 600px; }

.fotoTocandoInfo:hover {
  filter: invert(15%);
  width: 620px;
  height: 620px;
  z-index: 5; }

/*--------------------------- EVENTOS ---------------------*/
.mainEventos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px; }

.sectionEventos {
  background-image: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
  font-size: 100%;
  color: white;
  text-align: center;
  line-height: 25px;
  font-family: "Roboto";
  /*     margin-right: 750px; */
  margin-bottom: 100px;
  border: 150px black; }

.tablaEventos {
  box-shadow: 4px 4px 8px #000000;
  margin: 0 auto; }

.textEventos {
  font-family: "Roboto";
  font-size: 120%;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
  text-shadow: 2px 2px 4px #000000;
  padding: 1%; }

@media only screen and (max-width: 599px) {
  /* ------------------------ Header Nav ------------------- */
  header {
    background-color: rgba(92, 44, 136, 0.897);
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 3px;
    width: 100%; }
  .headerBanner {
    height: 150px;
    width: 100%;
    position: relative;
    object-fit: fill; }
  .nav,
  .navbar {
    width: 100%; }
  /* ------------------------- CUERPO INDEX ----------------- */
  /*     .gridMainPadre{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "flexGaleria"
        "flexNoticias"
        "flexPaypal"
        "flexDivAdicional";
        gap: 3% 1%;
        margin: 0 auto;
    }

    .flexGaleria{
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        object-fit: fill;
        margin-top: 2%;
        margin-left: 7px;
    }
    
    .flexNoticias{
        grid-row-start: 2;
        grid-column-start: 1;
        width: 100%;
        color: rgb(210, 199, 212);
        background-color: rgba(84, 108, 110, 0.568);
    }

    .flexPaypal{
        grid-row-start:3 ;
        grid-column-start: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        background-color: rgba(84, 108, 110, 0.568);
    }
    
    .flexDivAdicional{
        grid-row-start:4;
        width: 100%;
        background-color: #000000;
    }
    
    .fotoTocando{
        width: 400px;
        height: 600px;
        object-fit: cover;
    }
    
    .videoYoutube{
        background-color: #000000;
        width: 100%;
        height: 100%;
        margin-left: 10px;
    } 
 */
  /*-------------------------- REDES -----------------------*/
  /*     .sectionIndex{
        height: 5%;
        width: 100%;
        background-color: rgba(92, 44, 136, 0.897);
        position: relative; 
        bottom: 0px; 
        z-index: 2;
    }
    
    .fa{
        font-weight: 10px;
    }
    .sectionPaginas{
        list-style: none;
        width: auto;
    } */
  .sectionIndex {
    height: 5%;
    background-color: rgba(92, 44, 136, 0.897);
    position: relative;
    bottom: 0px; }
  .ul.sectionPaginas {
    position: relative; }
  .sectionPaginas {
    list-style: none;
    width: 15%;
    margin: auto;
    padding: 0.1%; }
  .sectionPaginas li {
    display: inline-block;
    margin: 1%; }
  /*--------------------------- EVENTOS ---------------------*/
  .mainEventos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px; }
  .sectionEventos {
    background-image: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
    font-size: 120%;
    color: white;
    text-align: center;
    line-height: 25px;
    font-family: "Roboto";
    margin: 5%;
    border: 150px black; }
  .tablaEventos {
    box-shadow: 4px 4px 8px #000000;
    /*     margin: 0; */ }
  .textEventos {
    font-family: "Roboto";
    font-size: 120%;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    text-shadow: 2px 2px 4px #000000;
    padding: 1%; }
  /* ----------------------- MERCH --------------------------*/
  .fieldsetMerch {
    background-image: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
    font-size: 120%;
    color: white;
    text-align: start;
    line-height: 15px;
    font-family: "Roboto";
    width: 100%;
    margin: 2%; }
  h4 {
    background: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
    font-size: 120%;
    color: white;
    text-align: center;
    line-height: 15px;
    padding: 0.5%;
    font-family: "Oswald";
    text-shadow: 2px 2px 4px #000000; }
  .gridMerch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  /* ----------------------- CONTACTO --------------------------*/
  /* ----------------------- INFORMACION --------------------------*/
  .mainInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start; }
  .imgInfo {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin-top: -30%;
    margin-bottom: 3%; }
  .fotoTocandoInfo {
    width: 100%;
    height: 100%;
    margin: 0 auto; }
  .fotoTocandoInfo:hover {
    filter: invert(15%);
    width: 400px;
    height: 600px;
    z-index: 5; }
  .textoInfo {
    background-image: linear-gradient(#2b0949, rgba(209, 164, 252, 0.329));
    color: white;
    font-family: "Roboto";
    font-size: 100%;
    text-align: justify;
    margin: 20px 0 20px 0;
    width: 100%;
    line-height: 30px; } }

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  /* ------------------------ Header Nav ------------------- */
  header {
    background-color: rgba(92, 44, 136, 0.897);
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 85px;
    row-gap: 3px;
    width: 100%; }
  .headerBanner {
    height: 120px;
    width: 100%;
    position: relative;
    object-fit: fill; }
  .nav,
  .navbar {
    width: 100%; }
  /* ------------------------- CUERPO INDEX ----------------- */
  /*-------------------------- REDES -----------------------*/
  .sectionIndex {
    height: 5%;
    width: 100%;
    background-color: rgba(92, 44, 136, 0.897);
    position: sticky;
    bottom: 0px;
    z-index: 2; }
  .fa {
    font-weight: 10px; }
  .sectionPaginas {
    list-style: none;
    width: auto;
    /*         display: flex;
        flex: row wrap;
        justify-content: flex-start; */ }
  /* ----------------------- EVENTOS --------------------------*/
  /*--------------------------- EVENTOS ---------------------*/
  .mainEventos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px; }
  .sectionEventos {
    background-image: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
    font-size: 100%;
    color: white;
    text-align: center;
    line-height: 25px;
    font-family: "Roboto";
    /*     margin-right: 750px; */
    /*     margin-bottom: 100px; */
    border: 150px black; }
  .tablaEventos {
    box-shadow: 4px 4px 8px #000000;
    margin: 0 auto; }
  .textEventos {
    font-family: "Roboto";
    font-size: 120%;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    text-shadow: 2px 2px 4px #000000;
    padding: 1%; }
  /* ----------------------- MERCH --------------------------*/
  .fieldsetMerch {
    background-image: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
    font-size: 120%;
    color: white;
    text-align: start;
    line-height: 15px;
    font-family: "Roboto";
    width: 100%;
    margin: 2%; }
  h4 {
    background: linear-gradient(rgba(92, 44, 136, 0.897), rgba(255, 0, 0, 0));
    font-size: 120%;
    color: white;
    text-align: center;
    line-height: 15px;
    padding: 0.5%;
    font-family: "Oswald";
    text-shadow: 2px 2px 4px #000000; }
  .gridMerch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  /* ----------------------- CONTACTO --------------------------*/
  /* ----------------------- INFORMACION --------------------------*/
  .mainInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start; }
  .imgInfo {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin-top: -10%;
    margin-bottom: 3%; }
  .fotoTocandoInfo {
    width: 100%;
    height: 100%;
    margin: 0 auto; }
  .fotoTocandoInfo:hover {
    filter: invert(15%);
    width: 400px;
    height: 600px;
    z-index: 5; }
  .textoInfo {
    background-image: linear-gradient(#2b0949, rgba(209, 164, 252, 0.329));
    color: white;
    font-family: "Roboto";
    font-size: 100%;
    text-align: justify;
    margin: 20px 0 20px 0;
    width: 100%;
    line-height: 30px; } }

.textoCopyright {
  font-family: "Oswald";
  font-size: 150%;
  color: white;
  text-align: start;
  line-height: 15px;
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.logoCopyright {
  margin-left: 45%; }
