body{
    @extend %resetCss;
}

head{
    position: relative;
}

header{
    background-color: map-get($colores, primario );
    position: sticky;
    top: 0;
    @include flexBox (row, wrap, space-around);
    @include anchoAlto (100%, 100%);
    z-index: 2;
}

h2{
    background-image: map-get($gradiantes, gradiantePrima);
    font-family: map-get($letras, titulos );
    @include desingText (300%, white, center, 15px);
}

/* --- aun tengo problemas con los Anchor ---*/
a{
    font-family: map-get($letras, anchor);
    text-decoration: none;
    color: map-get($colores, aColor );
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

a:hover,
a:focus {
    background-size: 80% 2px;
}

.headerBanner{
    @include flexBox (row, wrap, flex-start);
    @include anchoAlto (20%, auto);
    /* object-fit: cover; */
    position: nth($position, 1);
}

nav{
    @include anchoAlto (80%, 10%);
    position: nth($position, 1);
}

.navPaginas{
    @include anchoAlto (40%, 10%);
    list-style: none;
    position: nth($position , 2 );
    top: 0;
    margin-top: 0%;
    margin-right: 18%;
    padding: 0%;
    li{
        display: inline-block;
        margin: 2%;
    }
}



.gridMainPadre{
    @include gridPadre (1fr 1fr 1fr, 1fr 0.5fr 1fr);
    grid-template-areas: "flexGaleria , flexNoticias"
    "flexPaypal"
    "flexDivAdicional";
    gap: 3% 0;
    
}

.flexGaleria{
    grid-column: 1/3;
    grid-row-start: 1;
    @include flexBox (row, wrap, space-between);
    @include anchoAlto (75%, 100%);
    align-items:flex-start ;
    object-fit: cover;
    margin-top: 2%;
    margin-left: 3%;
}

.flexNoticias{
    grid-column: 3/5;
    grid-row-start: 1;
    @include flexBox (column, wrap, space-between);
    width: 100%;
    margin-top: 15%;
    background-color: map-get($colores, bgprimario );
}
.textNoticias{
    font-family: map-get($letras, textFont);
    color: map-get($colores, textColor);
    @include desingText (100%, white, start, 15px);
}
.flexPaypal{
    grid-row-start:2 ;
    grid-column:1/5;
    @include flexBox (row, wrap, space-evenly);
    align-items: center;
    background-color: map-get($colores, bgprimario );
}

.flexDivAdicional{
    grid-row-start: 3;
}

.fotoTocando{
    object-fit: cover;
}

.videoYoutube{
    margin: 0 auto;
} 

html{
    scroll-behavior: smooth;
}

/* --------------------- redes ------------------*/

.sectionIndex{
    height: 5%;
    background-color: rgba(92, 44, 136, 0.897);
    position: relative; 
    bottom: 0px; 
}

.sectionPaginas{
    list-style: none;
    width: 15%;
    margin: auto;
    padding: 0.1%;
}

.sectionPaginas li{
    display: inline-block;
    margin: 1%;
}