body{
    @extend %resetCss;
}

head{
    position: relative;
}

header{
    background-color: map-get($colores, primario );
    position: sticky;
    top: 0;
    @include flexBox (row, wrap, space-around);
    @include anchoAlto (100%, 100%);
    z-index: 2;
}

h2{
    background-image: map-get($gradiantes, gradiantePrima);
    font-family: map-get($letras, titulos );
    @include desingText (150%, white, center, 15px);
}

a{
    font-family: map-get($letras, anchor);
    text-decoration: none;
    color: map-get($colores, aColor );
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

a:hover,
a:focus {
    background-size: 80% 2px;
}

.headerBanner{
    @include flexBox (row, wrap, flex-start);
    @include anchoAlto (20%, auto);
    /* object-fit: cover; */
    position: nth($position, 1);
}

nav{
    @include anchoAlto (80%, 10%);
    position: nth($position, 1);
}

.navPaginas{
    @include anchoAlto (40%, 10%);
    list-style: none;
    position: nth($position , 2 );
    top: 0;
    margin-top: 0%;
    margin-right: 18%;
    padding: 0%;
    li{
        display: inline-block;
        margin: 2%;
    }
}



.gridMainPadre{
    @include flexBox (column, wrap, space-around);
    position: relative;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}

h1{
    background-image: map-get($gradiantes, gradiantePrima);
    font-family: map-get($letras, titulos );
    @include desingText (120%, white, center, 15px);
    position: relative;
}


.flexGaleria{
    @include anchoAlto (100%, 100%);
    object-fit: fill;
    margin: 1%;
}

.flexNoticias{
    @include flexBox (column, wrap, space-between);
    width: 75%;
    height: 35%;
    background-color: map-get($colores, bgprimario );
    margin: 1%;
}
.textNoticias{
    font-family: map-get($letras, textFont);
    color: map-get($colores, textColor);
    @include desingText (120%, white, start, 15px);
    padding: 0;
    margin: 1%;
}
.flexPaypal{
    width: 70%;
    @include flexBox (row, wrap, space-evenly);
    align-items: center;
    background-color: map-get($colores, bgprimario );
    margin: 1%;
}

.fotoTocando{
    @include anchoAlto(100%,100%);
    object-fit: cover;
}

.flexDivAdicional{
    @include flexBox (row, wrap, center);
    @include anchoAlto (100%,100%);
    margin: 1%;
} 

.videoYoutube{
    object-fit: fill;
    @include anchoAlto (100%,100%);
}

html{
    scroll-behavior: smooth;
}

/* --------------------- redes ------------------*/

.sectionIndex{
    height: 5%;
    background-color: rgba(92, 44, 136, 0.897);
    position: relative; 
    bottom: 0px; 
}

.sectionPaginas{
    list-style: none;
    width: 15%;
    margin: auto;
    padding: 0.1%;
}

.sectionPaginas li{
    display: inline-block;
    margin: 1%;
}