%resetCss{
    margin: 0;  
    padding: 0;
    border: 0;
    font-size: 16px;
    z-index: 1;
    background-color:rgba(84, 108, 110, 0.568) ;
    background-size: cover;
    background-size: 100%;
    background-attachment: fixed;
}

%animacionSubrayado{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

@mixin flexBox ($direction, $wrap, $justify){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
}

@mixin anchoAlto ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

$position: 
relative,
absolute,
fixed;

@mixin desingText ($size, $color, $aling, $separacion){
    font-size: $size;
    color: $color;
    text-align: $aling;
    line-height: $separacion;
}

@mixin gridPadre ($column, $row){
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
}

@mixin gridHijo ($colu, $fila){
    grid-column-start: $colu;
    grid-row-start: $fila;
}


$colores: (
    primario: rgba(92, 44, 136, 0.897),
    secundario: blueviolet,
    textColor: rgb(180, 178, 32),
    aColor: white,
    bgprimario: rgba(84, 108, 110, 0.568)
);

$letras: (
    titulos: 'Oswald',
    anchor: 'Open Sans',
    textFont: 'Roboto',
    x: sans-serif
);

$gradiantes: (
    gradiantePrima: linear-gradient(rgba(92, 44, 136, 0.897),rgba(255, 0, 0, 0)),
    gradianteSegunda:linear-gradient(rgba(84, 108, 110, 0.568), rgba(255, 0, 0, 0))
)